<html>
    <head>
        <title>AC01</title>
    </head>
    <body style="background-color: crimson; display:flex; justify-content: center; align-items: center; flex-direction: column; color: aliceblue;">
        Aprovado ou Reprovado
        <div >
            <form method="get">
                Primeira Nota:
                <input type="text" name="primeira">
                <br>
                Segunda Nota:
                <input type="text" name="segunda">
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>

        {% if resultado %}
        <div style="background-color: blue;">
            {{resultado}} com média {{media}}!!!
        </div>
        {% endif %}

    </body>
</html>
